@page "/Counter"
@using FrontEndBodega.Services;
@using FrontEndBodega.DTO;
@inject RegistroUserService UsuarioService

<center></center><h3>Registrarme</h3>

<EditForm Model="@usuario" OnValidSubmit="GuardarUsuario">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Correo Electrónico:</label>
        <InputText @bind-Value="usuario.CorreoElectronico" class="form-control" />
    </div>
    <div>
        <label>Dirección:</label>
        <InputText @bind-Value="usuario.Direccion" class="form-control" />
    </div>
    <div>
        <label>Nombre Completo:</label>
        <InputText @bind-Value="usuario.NombreCompleto" class="form-control" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="usuario.Password" type="password" class="form-control" />
    </div>
    <div>
        <label>Teléfono:</label>
        <InputText @bind-Value="usuario.Telefono" class="form-control" />
    </div>
    <div>
        <label>Username:</label>
        <InputText @bind-Value="usuario.Username" class="form-control" />
    </div>
    <div>
        <label>Rol:</label>
        <InputNumber @bind-Value="usuario.IdRol" class="form-control" />
    </div>
    <div>
        <label>Status:</label>
        <InputNumber @bind-Value="usuario.Status" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@if (mensaje != null)
{
    <p>@mensaje</p>
}

@code {
    private RegistroUserDTO usuario = new();
    private string? mensaje;

    private async Task GuardarUsuario()
    {
        mensaje = await UsuarioService.CrearUsuarioAsync(usuario);
    }
}